<%- include("partials/product/header") -%>

<h1>Products</h1>
<ul>
  <% products.forEach(product => { %>
    <li>
      <h3><%= product.name %></h3>
      <p>Price: <%= product.price %></p>
      <p><%= product.description %></p>
    </li>
  <% }); %>
</ul>

<%- include("partials/product/footer") -%>
